.euler-problem {
	display: flex;
	flex-direction: column;
}

.euler-problem > * {
	padding: var(--space-3);
}

.euler-problem > section {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}

.euler-problem > footer {
	display: flex;
	align-items: center;
	border-top: var(--border);
	justify-content: flex-end;
	padding-top: var(--space-2);
	padding-bottom: var(--space-2);
}
