.layout {
	display: grid;
	grid-template: 70vh min-content auto / 1fr 30ch;
	grid-template-areas:
		"sketch controls"
		"title controls"
		"description controls"
		"article controls";
	gap: 1.6rem;
	min-height: 100vh;
	padding-block: 2rem 16rem;

	@media screen and (width <= 1024px) {
		grid-template: 70vh repeat(4, auto) / 1fr;
		grid-template-areas:
			"sketch"
			"controls"
			"title"
			"description"
			"article";
	}
}

.title {
	grid-area: title;
	font-size: 4.8rem;
	height: min-content;
}

.description {
	grid-area: description;
	font-size: 2rem;
	height: min-content;
	margin-block-end: 2rem;
}

.article {
	--full-bleed-width: 75ch;

	grid-area: article;
	line-height: 1.7;
	font-size: 1.8rem;
	position: relative;
	height: min-content;

	& > h2 {
		margin-block: 4rem 2rem;
		font-size: 3.2rem;

		&:has(+ h3) {
			margin-block-end: 0;
		}
	}

	& > h3 {
		margin-block: 3rem 1.5rem;
		font-size: 2.4rem;
	}

	& > h4 {
		margin-block: 2rem 1rem;
		font-size: 2rem;
	}

	& p {
		margin-block-end: 1rem;
	}

	& > :is(ul, ol) {
		list-style-position: outside;
		margin-block-end: 1.5rem;
		font-size: 1.6rem;

		& li {
			padding-inline-start: 1ch;
			margin-left: 1ch;
		}
	}

	& ul li::marker {
		content: "»";
		color: var(--color-info);
	}

	& > ol {
		list-style: decimal;

		& li {
			margin-left: 1.5ch;
		}

		& li::marker {
			color: var(--color-info);
		}
	}

	& a {
		color: var(--color-text-link);
		text-decoration: underline;
	}

	& > p code {
		color: var(--color-text-info);
		border-radius: var(--radius);
	}

	& > pre {
		height: fit-content;
		overflow-x: unset !important;
		overflow-y: auto;
		padding: 1em 1.5em;
		border-radius: var(--radius);
		margin-block: 2rem;
		border: 2px solid hsl(from var(--color-info) h s l / 25%);
		transition: color 0.125s linear, background-color 0.125s linear;

		& code {
			height: fit-content;
		}
	}

	/* TODO: interactive blocks island issue */

	& > :where(astro-island, astro-slot) > *:first-child {
		grid-column: 1 / -1;
	}
}

.form {
	grid-area: controls;
	display: grid;
	grid-auto-rows: min-content;
	gap: 1.2rem;
	padding: 1.8rem;
	padding-block-start: 0;
	width: 100%;
	border: none;
}

.fieldset {
	border: none;
	float: left;
	display: grid;
	gap: 1.2rem;
	font-size: 1.2rem;

	&:not(:last-child) {
		border-block-end: 1px solid color-mix(in srgb, var(--color-neutral-800), transparent 60%);
		padding-block-end: 1.6rem;
		margin-block-end: 1.6rem;
	}
}

.legend {
	font-size: 1.6rem;
	font-weight: 600;
	margin-block-end: 1.2rem;
}
