.layout {
	display: grid;
	grid-template: 70vh min-content auto / 1fr 30ch;
	grid-template-areas:
		"sketch controls"
		"title controls"
		"description controls"
		"article controls";
	gap: 1.6rem;
	min-height: 100vh;
	padding-block: 2rem 16rem;

	@media screen and (width <= 1024px) {
		grid-template: 70vh repeat(4, auto) / 1fr;
		grid-template-areas:
			"sketch"
			"controls"
			"title"
			"description"
			"article";
	}
}

.title {
	grid-area: title;
	font-size: 4.8rem;
	height: min-content;
}

.description {
	grid-area: description;
	font-size: 2rem;
	height: min-content;
	margin-block-end: 2rem;
}

.form {
	grid-area: controls;
	display: grid;
	grid-auto-rows: min-content;
	gap: 1.2rem;
	padding: 1.8rem;
	padding-block-start: 0;
	width: 100%;
	border: none;

	@media screen and (width <= 1024px) {
		padding: 0;
		margin-block-end: 4.8rem;
	}
}

.fieldset {
	border: none;
	float: left;
	display: grid;
	gap: 1.2rem;
	font-size: 1.2rem;

	&:not(:last-child) {
		border-block-end: 1px solid color-mix(in srgb, var(--color-neutral-800), transparent 60%);
		padding-block-end: 1.6rem;
		margin-block-end: 1.6rem;
	}
}

.legend {
	font-size: 1.6rem;
	font-weight: 600;
	margin-block-end: 1.2rem;
}
