
.article {
	--full-bleed-width: 75ch;

	line-height: 1.7;
	font-size: 1.6rem;
	position: relative;

	& > h2 {
		margin-block: 3.2rem 1.6rem;
		font-size: 3.2rem;

		&:has(+ h3) {
			margin-block-end: 0;
		}
	}

	& > h3 {
		margin-block: 3rem 1.5rem;
		font-size: 2.4rem;
	}

	& > h4 {
		margin-block: 2rem 1rem;
		font-size: 2rem;
	}

	& p {
		margin-block-end: 1rem;
	}

	& > :is(ul, ol) {
		list-style-position: outside;
		margin-block-end: 1.5rem;
		font-size: 1.6rem;

		& li {
			padding-inline-start: 1ch;
			margin-left: 1ch;
		}
	}

	& ul li::marker {
		content: "»";
		color: var(--color-info);
	}

	& > ol {
		list-style: decimal;

		& li {
			margin-left: 1.5ch;
		}

		& li::marker {
			color: var(--color-info);
		}
	}

	& a {
		color: var(--color-text-link);
		text-decoration: underline;
	}

	& > p code {
		color: var(--color-text-info);
		border-radius: var(--radius);
	}

	& > pre {
		height: fit-content;
		overflow-x: unset !important;
		overflow-y: auto;
		padding: 1em 1.5em;
		border-radius: var(--radius);
		margin-block: 2rem;
		border: 2px solid hsl(from var(--color-info) h s l / 25%);
		transition: color 0.125s linear, background-color 0.125s linear;

		& code {
			height: fit-content;
		}
	}

	/* TODO: interactive blocks island issue */

	& > :where(astro-island, astro-slot) > *:first-child {
		grid-column: 1 / -1;
	}
}
