---
{
	"cover": {
		alt: "Упрощённая иллюстрация аттрактора как сущности",
		height: 500,
		src: "https://storage.yandexcloud.net/escapist-marginalia/covers/the-attractor.png",
		width: 500
	},
	"dateUpdated": "2022-11-20T00:37:00.000Z",
	"description": "Визуализация течения частиц в поле аттрактора.",
	"keywords": [
		"аттрактор",
		"турбулентность",
		"canvas",
		"генеративное искусство"
	],
	"lang": "ru",
	"slug": "/ru/sketch/the-attractor",
	"title": "Аттрактор"
}
---

## Ссылки

Вдохновлено работой ["A colourful world of Turbulence"][original] от [Dillon][author].

[original]: https://codepen.io/Dillo/pen/eYOegjY
[author]: https://codepen.io/Dillo
