.container {
	width: 100%;
	height: min-content;
}

/* img section */

.image {
	--icon-size: 1.25em;

	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: min-content;
	padding: var(--space-l);
}

.image img {
	width: auto;
	/* save space for action controls */
	max-width: calc(100vw - 6 * var(--icon-size));
	max-height: calc(75vh - 2 * var(--space-l));
	object-fit: contain;
}

.image img:hover {
	cursor: zoom-in;
}

/* image section: actions */

.actions {
	align-self: flex-end;

	position: absolute;
	top: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--space-s);
	padding: calc(0.5 * var(--icon-size));
	height: 100%;
}

.actions a {
	padding: var(--space-s);
}

.actions button:last-child {
	margin-top: auto;
}

@media screen and (max-width: 650px) {
	.image {
		padding-bottom: calc(3 * var(--icon-size));
	}

	.image img {
		max-width: calc(100vw - 2 * 1.75em - var(--space-m));
	}

	.actions {
		--icon-size: 1.25em;

		flex-direction: row;
		top: unset;
		left: 0;
		bottom: 0;
		height: fit-content;
		padding: var(--space-s);
	}

	.actions button:last-child {
		margin-left: auto;
	}
}

/* title */

.title {
	color: var(--color-heading);
	text-align: center;
	padding-block: var(--space-l);
}

/* metadata */

.metadata {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	justify-items: center;
	gap: var(--space-l);
	width: calc(min(100%, 85ch) - var(--space-l));
	margin: 0 auto;
}

.metadata dl {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--space-xs);
}

.metadata dt,
.metadata .keywords h3 {
	font-size: var(--font-size-m);
	color: var(--color-gray-600);
	font-weight: 400;
}

.metadata dd:not(:last-child) {
	margin-bottom: var(--space-s);
}

.metadata section {
	display: flex;
	flex-flow: column wrap;
	gap: var(--space-m);
}

/* params */

.metadata dl[aria-label="parameters"] {
	display: grid;
	grid-auto-flow: column;
	grid-template: repeat(4, min-content) / repeat(2, 10ch);
}

/* keywords */

.keywords h3 {
	margin-bottom: var(--space-s);
}

.keywords ul {
	display: flex;
	flex-flow: row wrap;
	gap: var(--space-s);
}

.keywords li {
	padding: var(--space-s);
	border: 2px solid var(--color-border);
	border-radius: var(--space-s);
	font-size: var(--font-size-m);
}