.container {
	width: 100%;
	height: min-content;
}

/* img section */

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: min-content;
	padding: var(--space-l);
}

.image img {
	width: auto;
	max-width: 100%;
	max-height: calc(90vh - 4 * var(--space-l));
	object-fit: contain;
}

.image img:hover {
	cursor: zoom-in;
}

/* title */

.title {
	color: var(--color-heading);
	text-align: center;
	padding-block: var(--space-l);
}

/* metadata */

.metadata {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	justify-items: center;
	gap: var(--space-l);
	width: calc(min(100%, 85ch) - var(--space-l));
	margin: 0 auto;
}

.metadata dl {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--space-xs);
}

.metadata dt,
.metadata .keywords h3 {
	font-size: var(--font-size-m);
	color: var(--color-gray-600);
	font-weight: 400;
}

.metadata dd:not(:last-child) {
	margin-bottom: var(--space-s);
}

.metadata section {
	display: flex;
	flex-flow: column wrap;
	gap: var(--space-m);
}

/* params */

.metadata dl[aria-label="parameters"] {
	display: grid;
	grid-auto-flow: column;
	grid-template: repeat(4, min-content) / repeat(2, 10ch);
}

/* keywords */

.keywords h3 {
	margin-bottom: var(--space-s);
}

.keywords ul {
	display: flex;
	flex-flow: row wrap;
	gap: var(--space-s);
}

.keywords li {
	padding: var(--space-s);
	border: 2px solid var(--color-border);
	border-radius: var(--space-s);
	font-size: var(--font-size-m);
}