.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	& input[type="range"] {
		touch-action: none;
	}
}

.content {
	display: grid;
	grid-template: auto / repeat(2, auto);
	gap: var(--space-6);
	place-items: center;
	padding: var(--space-2);
	overflow-x: auto;
	scroll-snap-type: x mandatory;

	& > svg {
		height: 100%;
		width: fit-content;
	}

	& > div {
		scroll-snap-align: center;
		width: 100%;
	}

	& form {
		display: grid;
		gap: var(--space-2);
		margin-block-start: var(--space-3);
		width: 100% !important;
	}

	&:global(.match) svg > rect {
		stroke-dasharray: none;
	}

	@media screen and (width < 500px) {
		grid-template: auto / repeat(2, 80vw);
	}
}

.output {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-red-500);
	padding: var(--space-2-rel);
	font-size: var(--font-size-0);

	&:global(.match) {
		color: var(--color-green-500);
	}
}
