.root {
	--toggle-thumb-size: 2.4rem;
	--toggle-track-size: calc(var(--toggle-thumb-size) * 1.6);
	--toggle-highlight-size: calc(0.15 * var(--toggle-thumb-size));
	--toggle-track-padding: 3px;
	--toggle-border-radius: 12px;
	--toggle-transition-duration: 350ms;
	--toggle-border: 2px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1ch;
	height: fit-content;
	cursor: pointer;
	user-select: none;
	width: 100%;

	&:has(.input:disabled) {
		cursor: not-allowed;
	}

	&:hover:not(:disabled) {
		color: var(--surface-4-text-contrast);
	}
}

.input {
	appearance: none;
	flex-shrink: 0;
	display: grid;
	align-items: center;
	margin-left: auto;
	grid: [track] 1fr / [track] 1fr;
	inline-size: var(--toggle-track-size);
	block-size: var(--toggle-thumb-size);
	border: var(--toggle-border) solid var(--toggle-color);
	border-radius: var(--toggle-border-radius);
	padding: var(--toggle-track-padding);
	background: transparent;
	cursor: pointer;
	outline: 3px solid transparent;
	outline-offset: 2px;
	touch-action: pan-y;
	transition: outline-color linear 0.125s;

	/* thumb */
	&::after {
		content: "";
		grid-area: track;
		aspect-ratio: 1;
		inline-size: calc(var(--toggle-thumb-size) - 2 * var(--toggle-track-padding) - 2 * var(--toggle-border));
		block-size: 100%;
		background-color: var(--toggle-color);
		border-radius: calc(var(--toggle-border-radius) - var(--toggle-track-padding));
		transform: translateX(var(--toggle-thumb-position, 0%));
		transition:
			transform var(--toggle-transition-duration) ease,
			background-color 0.25s ease;
	}

	&:checked {
		--toggle-thumb-position: calc(var(--toggle-track-size) - 100% - 2 * var(--toggle-track-padding) - 2 * var(--toggle-border));

		border-color: var(--toggle-color-active);
	}

	&:checked::after {
		background-color: var(--toggle-color-active, var(--toggle-thumb-color));
	}

	&:focus-visible {
		outline-style: dashed;
		outline-color: var(--color-accent);
	}

	&:hover:not(:disabled) {
		outline-color: var(--toggle-thumb-color-highlight);
	}

	&:disabled::after {
		background-color: unset;
		box-shadow: inset 0 0 0 2px var(--toggle-color);
		cursor: not-allowed;
	}

	@media (prefers-reduced-motion: reduce) {
		&::after {
			transition: unset;
		}
	}
}
