.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--color-surface-2);
}

.close {
	--button-bg: var(--color-neutral-200);
	--button-bg-hover: var(--color-neutral-300);
	--button-bg-active: var(--color-neutral-400);
	--button-border: var(--color-neutral-900);
	--icon-color: var(--color-neutral-900);

	position: absolute;
	top: 1.6rem;
	right: 1.6rem;
}
