.body {
	display: grid;
	grid-template: min-content 1fr min-content / 1fr;
	min-height: 125vh;
	font-family: montserrat, Arial, Helvetica, sans-serif;
}

.footer {
	background-color: var(--color-surface-2);
	border-top: 1px solid var(--color-accent);
}
