.illustration {
	width: min(100% - var(--space-3), 350px);
	height: min(100% - var(--space-3), 350px);
	fill: var(--color-gray-900);
}

.illustration > circle {
	fill: var(--surface-4);
}

.illustration path {
	transform-box: fill-box;
	fill: var(--color-blue-900);
	stroke: var(--color-blue-400);
}
