/* override page layout */
.page {
	margin-top: unset;
}

.layout {
	display: grid;
	gap: var(--space-7);
	width: 100%;

	& h2 {
		font-size: var(--font-size-5);
		margin-bottom: var(--space-1);
	}

	& section {
		display: flex;
		justify-content: center;
		padding-block: var(--space-7) var(--space-8);

		&:nth-of-type(2n) {
			background-color: var(--surface-2);
		}

		& div {
			display: flex;
			flex-direction: column;
			width: min(100% - var(--space-5), var(--max-width));
		}

		& div > header {
			margin-bottom: var(--space-7);
		}
	}
}

.aside {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: var(--space-9);
	font-size: var(--font-size-2);

	& a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--space-2);
		padding: var(--space-1);
	}
}

@media screen and (width <= 560px) {
	.layout {
		grid-template: min-content auto / 1fr;
	}

	.layout > main {
		grid-row: 2;
		grid-column: 1;
	}
}
