/* override page layout */
.page {
	margin-top: unset;
}

.layout {
	display: grid;
	gap: var(--space-7);
	width: 100%;
}

.layout section > div > header {
	margin-bottom: var(--space-7);
}

.layout > section {
	display: flex;
	justify-content: center;
	padding-block: var(--space-9);
}

.layout > section div {
	display: flex;
	flex-direction: column;
	width: min(100% - var(--space-5), var(--max-width));
}

.layout > section[label="recent-photos"] img {
	object-fit: cover;
	border-radius: var(--radius-l);
}

@media screen and (max-width: 640px) {
	.layout {
		grid-template: min-content auto / 1fr;
	}

	.layout > main {
		grid-row: 2;
		grid-column: 1;
	}
}