.numbers {
	display: flex;
	gap: var(--space-3-rel);
	align-items: baseline;
	font-size: var(--font-size-2);
	justify-self: center;
	font-variant-numeric: tabular-nums;
}

.numerals-wrapper {
	position: relative;
	grid-column: 1 / span 3 !important;
	display: flex;
	justify-content: center;
	width: 100%;
	border-block: 2px dashed var(--color-border-50);
	margin-block-start: var(--space-4);
	margin-block-end: var(--space-4);
}

.numerals {
	display: flex;
	gap: 0.2em;
	font-variant-numeric: tabular-nums;
	margin-block-start: var(--space-4);
	margin-block-end: var(--space-4);
	padding-inline: var(--space-4);
	padding-block: var(--space-1);
	font-size: var(--font-size-0);
	overflow-x: auto;
}

.numeral {
	height: 100%;
	padding: var(--space-2-rel) var(--space-3-rel);
	border-radius: var(--radius-s);
	background-color: var(--surface-3);
}

.numerals-placeholder {
	padding: var(--space-2-rel) var(--space-3-rel);
	border-radius: var(--radius-s);
	text-align: center;
	max-inline-size: 45ch;
}

.numerals-placeholder p {
	margin: 0;
}

.status {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
	text-align: center;
}

.status:global(.valid) {
	color: var(--color-green-400);
}

.status:global(.invalid) {
	color: var(--color-danger);
}

.actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--space-2);
	margin-block-start: var(--space-2);
	font-size: var(--font-size-0);
}
