.root  {
	display: grid;
	gap: var(--space-m);
	justify-items: center;
}

.polygon svg {
	width: min(85vw, 375px);
	place-self: center;
}

.form {
	display: grid;
	gap: var(--space-m);
	margin-top: var(--space-m);
}

.form fieldset {
	border: none;
}

.controls-render,
.controls-actions {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-m);
	justify-content: center;
}
