.wrapper {
	--size: min(100% - var(--space-m), 350px);

	--canvas-width: var(--size);
	--canvas-height: var(--size);
}

.form {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--space-l);
	width: min(100% - var(--space-m), 450px);
}

.form legend {
	text-align: center;
}
