.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--item-size, 15ch), 1fr));
	grid-auto-rows: min-content;
	place-items: center;
	gap: var(--space-3);
	width: min(65ch, 85vw);
	margin-block: var(--space-3);

	--canvas-width: 15ch;
	--canvas-height: 15ch;
}

.form {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--space-7);
	width: min(100% - var(--space-3), 450px);
}

@media screen and (max-width: 400px) {
	.wrapper {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		width: 100%;
		padding-inline: var(--space-3);
	}

	.wrapper > figure {
		--canvas-width: 85vw;
		--canvas-height: 85vw;
	}
}