.wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: var(--space-7);
	max-width: 1200px;
}

@media screen and (max-width: 48em) {
	.wrapper {
		grid-column: 1 / span 3 !important;

		display: flex;
		flex-wrap: nowrap;
		justify-content: initial;
		align-items: initial;
		gap: 4vw;
		overflow-x: auto;
		width: 100%;
		padding-inline: var(--space-3);
		scroll-snap-type: x mandatory;
	}

	.wrapper > figure {
		--canvas-width: min(35ch, 85vw);
		--canvas-height: min(35ch, 85vw);

		scroll-snap-align: center;
	}
}