.wrapper {
	display: grid;
	grid-template: 1fr / 1fr;
	width: min(100% - var(--space-3), 70vh);
}

.wrapper > svg {
	width: 100%;
}

.wrapper > * {
	grid-row: 1;
	grid-column: 1;
}

.wrapper > p {
	font-size: var(--font-size-3);
	align-self: center;
	text-align: center;
	height: fit-content;
	z-index: 1;
	margin: 0;
	pointer-events: none;
	opacity: 0;
}

.wrapper:not(:global(.show)) > svg {
	opacity: 0.45;
}

.wrapper:not(:global(.show)) > p {
	opacity: 1;
}

.wrapper:not(:global(.show)) circle {
	opacity: 0;
}

.quadtree {
	position: relative;
	aspect-ratio: 1 / 1;
	width: 100%;
	background-color: var(--surface-4);
	transition: opacity 0.25s linear;
}

.boundary {
	position: absolute;
}

.form {
	display: grid;
	gap: var(--space-3);
}
