.wrapper svg {
	width: min(100% - var(--space-3), 65vh);
}

.quadtree {
	position: relative;
	aspect-ratio: 1 / 1;
	background-color: var(--surface-4);
	transition: opacity 0.25s linear;
}

.boundary {
	position: absolute;
	transition: stroke 0.125s linear;
	touch-action: none;
}

.boundary:hover {
	stroke: var(--color-blue-500);
	stroke-width: 7px;
}

.form {
	display: grid;
	gap: var(--space-3);
}
