.footer {
	--icon-size: 3.5rem;

	display: grid;
	grid-template: repeat(2, auto) / auto 1fr auto;
	grid-template-areas:
		"logo . socials"
		"build . no-ai";
	gap: 0.8rem;
	width: 100%;
	height: min-content;
	padding-block: 2.4rem;
}

.nav {
	grid-area: socials;
	margin-inline-start: auto;
}

.socials {
	--icon-size: 1.8rem;

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: end;
}

.logo {
	--icon-size: 2rem;
	--icon-color: var(--color-info);

	grid-area: logo;
	display: flex;
	align-items: center;
	gap: 0.8rem;
	font-size: 1.4rem;
}

.secondary {
	font-size: 1.2rem;
	color: var(--color-text-secondary);
	max-width: 35ch;
}

.build {
	grid-area: build;
}

.warning {
	text-wrap: balance;
	grid-area: no-ai;
	text-align: right;
}


@media screen and (width <= 600px) {
	.footer {
		justify-items: center;
		gap: 1.6rem;
		grid-template: repeat(4, min-content) / 1fr;
		grid-template-areas:
			"socials"
			"logo"
			"no-ai"
			"build";
	}

	.logo {
		--icon-size: 2rem;

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		gap: 0.4rem;
		font-size: 1.2rem;
	}

	.nav {
		margin-inline-start: unset;
	}

	.warning {
		text-align: center;
	}
}
