.footer {
	--icon-size: 3.5rem;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: min-content;
	padding-block: 2.4rem;
}

.section {
	display: flex;
	flex-flow: column wrap;
	gap: 0.4rem;

	/* align due socials button padding */
	&:first-of-type {
		margin-block-start: 0.9rem;
	}
}

.nav {
	margin-inline-start: auto;
}

.link {
	font-weight: 400;
}

.socials {
	--icon-size: 1.8rem;

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: end;
}

.logo {
	--icon-size: 2rem;
	--icon-color: var(--color-info);

	display: flex;
	align-items: center;
	gap: 0.8rem;
	font-size: 1.6rem;
	margin-block-end: 0.4rem;
}

.text {
	font-size: 1.4rem;
	color: var(--color-text-secondary);
}

.ai {
	text-wrap: balance;
	text-align: right;
	max-width: 25ch;
}

@media screen and (width <= 600px) {
	.footer {
		flex-flow: column-reverse wrap;
		align-items: center;
		gap: 1.6rem;
	}

	.text {
		text-align: center;
	}

	.link {
		align-self: center;
	}

	.logo {
		--icon-size: 2rem;

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		gap: 0.4rem;
		font-size: 1.2rem;
	}

	.nav {
		margin-inline-start: unset;
	}
}
