.wrapper {
	--size: min(100% - var(--space-3), 350px);
	--canvas-width: var(--size);
	--canvas-height: var(--size);
}

.form {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--space-7);
	width: min(100% - var(--space-3), 450px);
}

.form legend {
	text-align: center;
}

.wrapper span {
	font-variant-numeric: tabular-nums;
}
