---
{
	"dateUpdated": "2022-11-09T01:29:00.000Z",
	"description": "Project Euler",
	"featured": false,
	"lang": "en",
	"layout": "project",
	"maintained": true,
	"repository": "EricRovell/project-euler-ts",
	"title": "project-euler",
	"techstack": [
		"TypeScript"
	]
}
---

<script>
	import { WorkInProgress } from "@components";
</script>

<WorkInProgress />
