---
{
	"dateUpdated": "2022-11-09T01:29:00.000Z"
	"description": "Проект Эйлера",
	"featured": false,
	"lang": "ru",
	"layout": "project",
	"maintained": true,
	"repository": "EricRovell/project-euler-ts",
	"title": "project-euler",
	"techstack": [
		"TypeScript"
	]
}
---

<script>
	import { WorkInProgress } from "@components";
</script>

<WorkInProgress>
	Содержимое страницы находится в разработке
</WorkInProgress>
