---
{
	"dateUpdated": "2022-11-09T01:29:00.000Z",
	"description": "Проект Эйлера",
	"draft": true,
	"featured": false,
	"lang": "ru",
	"maintained": true,
	"repository": "EricRovell/project-euler-ts",
	"title": "project-euler",
	"techstack": [
		"TypeScript"
	]
}
---
