.wrapper {
	position: relative;
	grid-column: 1 / span 3 !important;
	display: flex;
	justify-content: center;
	width: 100%;
	border-block: 2px dashed var(--color-border-50);
	margin-block: var(--space-4);
	font-variant-numeric: tabular-nums;
}

.ranks {
	direction: rtl;
	display: flex;
	flex-wrap: nowrap;
	gap: 0.2em;
	font-variant-numeric: tabular-nums;
	margin-block: var(--space-4);
	padding-inline: var(--space-4);
	padding-block: var(--space-1);
	overflow-x: auto;
}

.rank {
	display: flex;
	place-items: center;
	gap: var(--space-2);
	height: 100%;
	font-size: 0.75em;
}

.rank:global(.zero) > * {
	opacity: 0.25;
}

.rank:not(:last-child)::after {
	content: "+";
	display: flex;
	align-items: center;
	font-size: 1.5em;
	opacity: 0.75;
}

.rank span {
	border: 2px solid var(--accent);
	border-radius: var(--radius-s);
	padding: var(--space-1-rel) var(--space-2-rel);
}

.rank .mult {
	border-color: var(--color-border);
}
