---
{
	"cover": {
		alt: "Ломаная внутри треугольника, отображающая базовые принципы Игры Хаоса",
		height: 500,
		src: "https://storage.yandexcloud.net/escapist-marginalia/covers/chaos-game.png",
		width: 500
	},
	"dateUpdated": "2023-01-05T20:12:00.000Z",
	"description": "Выстраиваем фрактальные геометрические фигуры на основе простых правил и случайности.",
	"keywords": [
		"игра хаоса",
		"случайность",
		"фракталы",
		"генеративное искусство"
	],
	"lang": "ru",
	"slug": "/ru/sketch/chaos-game",
	"title": "Игра Хаоса"
}
---

Ознакомиться с Игрой Хаоса поближе можно в [блогпосте](/ru/writing/игра-хаоса).
