---
{
	"cover": https://storage.yandexcloud.net/escapist-marginalia/covers/chaos-game.png,
	"dateUpdated": "2023-01-05T20:12:00.000Z",
	"description": "Vizualizing a fractals from simple rules and a randomness.",
	"keywords": [
		"chaos-game",
		"randomness",
		"fractals",
		"generative art"
	],
	"lang": "en",
	"title": "Chaos Game",
	"url": "/en/sketch/chaos-game"
}
---

You can read more about the Chaos Game in my [blogpost](/en/writing/the-chaos-game).
