---
{
	"dateUpdated": "2023-01-05T20:12:00.000Z",
	"cover": "https://storage.yandexcloud.net/escapist-marginalia/covers/chaos-game.png",
	"description": "Выстраиваем фрактальные геометрические фигуры на основе простых правил и случайности.",
	"keywords": [
		"игра хаоса",
		"случайность",
		"фракталы",
		"генеративное искусство"
	],
	"lang": "ru",
	"title": "Игра Хаоса",
	"url": "/ru/sketch/chaos-game"
}
---

Ознакомиться с Игрой Хаоса поближе можно в [блогпосте](/ru/writing/игра-хаоса).
