---
{
	"dateUpdated": "2022-11-09T01:29:00.000Z",
	"description": "Blossom - библиотека для конвертации цветов и манипуляций на ними, написанная на TypeScript.",
	"draft": true,
	"featured": true,
	"lang": "ru",
	"maintained": false,
	"npm": "@ericrovell/blossom",
	"repository": "EricRovell/blossom",
	"title": "blossom",
	"techstack": [
		"TypeScript"
	],
	"type": "library",
	"website": "https://ericrovell.github.io/blossom-web"
}
---
