.wrapper {
	display: grid;
	grid-template: repeat(3, auto) / repeat(var(--f-number-items), 1fr);
	column-gap: 1em;
	align-items: center;
	text-align: center;
	overflow-x: auto;
	width: fit-content;
	max-width: calc(100% - var(--space-l));
}

.wrapper > section,
.wrapper > section > ol {
	/* make a grid */
	display: contents;
}

.wrapper header {
	position: sticky;
	left: 0;
	margin-inline-end: 1em;
	background-color: var(--surface-3);
	font-weight: 600;
	z-index: 1;
}

.wrapper header::after {
	content: "";
	position: absolute;
	width: 2em;
	height: 100%;
	right: -2em;
	top: 0;
	background-image: linear-gradient(to right, var(--surface-3), rgb(0 0 0 / 0.01));
}

.item {
	position: relative;
	padding-block: 0.5em;
}

.f-number {
	font-size: 1.25em;
	border: 2px dashed var(--color-border);
	border-radius: var(--radius-m);
}

.f-number:global(.intermediate) {
	border: 1px dashed var(--color-border);
}

.f-number-intermidiate {
	font-size: 0.85em;
	opacity: 0.85;
}
