.wrapper {
	display: grid;
	grid-template: repeat(3, auto) / repeat(var(--f-number-items), auto);
	column-gap: 1.5em;
	row-gap: 0.5em;
	align-items: center;
	text-align: center;
	overflow-x: auto;
	width: fit-content;
	max-width: calc(100% - var(--space-l));
}

.wrapper > section,
.wrapper > section > ol {
	/* make a grid */
	display: contents;
}

.wrapper header {
	position: sticky;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-inline-end: 1em;
	background-color: var(--surface-3);
	font-weight: 600;
	z-index: 1;
}

.wrapper header::after {
	content: "";
	position: absolute;
	width: 2em;
	height: 100%;
	right: -2em;
	top: 0;
	background-image: linear-gradient(to right, var(--surface-3), rgb(0 0 0 / 0.01));
}

.item {
	position: relative;
	padding-block: 0.5em;
}

.f-number {
	border: 3px solid var(--color-border);
	border-radius: var(--radius-m);
}

.f-number:global(.intermediate) {
	border-style: dashed;
}
