.layout {
	display: grid;
	grid-template: 1fr / 4fr 1fr;
	gap: var(--space-9);
	width: 100%;
	justify-self: center;
}

.counter {
	grid-row: 1;
	grid-column: 1 / -1;
	margin-block-end: var(--space-2-rel);
	font-size: var(--font-size-2);
	font-variant-numeric: tabular-nums;
}

.sidebar {
	display: grid;
	height: min-content;
	font-size: var(--font-size-0);
	width: 100%;
}

.sidebar legend {
	font-size: var(--font-size-1);
}

.filters-toggle {
	display: none;
}

@media screen and (width <= 48em) {
	.layout {
		grid-template: min-content auto / 1fr;
		gap: var(--space-5);

		--side-menu-switch-z-index: 47;
		--side-menu-z-index: 53;
	}

	.sidebar h3 {
		margin-block: var(--space-2-rel);
		text-align: center;
	}

	.filters-toggle {
		display: initial;
		border-radius: var(--radius-m);
	}

	.layout > main {
		grid-row: 2;
		grid-column: 1;
	}
}
