.form {
	width: min(100% - var(--space-3), 35ch);
}

.grid-span {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--masonry-scale, 50px), 1fr));
	grid-template-rows: repeat(auto-fit, var(--masonry-scale, 50px));
	grid-auto-flow: dense;
	grid-gap: 1rem;
	margin-block: var(--space-7);
	height: fit-content;
	width: min(100% - var(--space-3), 85ch);
}

.grid-span li {
	min-height: 50px;
}
