.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--item-size, 15ch), 1fr));
	grid-auto-rows: min-content;
	place-items: center;
	gap: var(--space-3);
	width: min(65ch, 85vw);
	margin-block: var(--space-3);

	--canvas-width: 15ch;
	--canvas-height: 15ch;
}

.form {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--space-7);
	width: min(100% - var(--space-3), 450px);
}

@media screen and (width <= 48em) {
	.wrapper {
		grid-column: 1 / span 3 !important;
		display: flex;
		flex-wrap: nowrap;
		gap: 4vw;
		overflow-x: auto;
		width: 100%;
		padding-inline: var(--space-3);
		scroll-snap-type: x mandatory;
	}

	.wrapper > figure {
		--canvas-width: min(35ch, 85vw);
		--canvas-height: min(35ch, 85vw);

		scroll-snap-align: center;
	}
}
