.root {
	display: grid;
	gap: 0.5rem;
	text-align: left;
	width: 100%;
}

.label {
	width: fit-content;
}

.input {
	background-color: transparent;
	border: 2px solid var(--color-neutral-700);
	border-radius: var(--radius);
	padding: 0.5em 1em;
	color: inherit;
	width: 100%;

	&:focus-visible {
		background-color: var(--color-surface-2);
		outline: 2px solid var(--color-accent);
		outline-offset: -2px;
	}

	&:user-invalid,
	&[data-error] {
		border-color: var(--color-danger);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&::-webkit-inner-spin-button {
		appearance: none;
		margin: 0;
	}

	&[type="number"] {
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-moz-appearance: textfield;
		appearance: textfield;
	}
}
