.wrapper {
	font-variant-numeric: tabular-nums;
}

.form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--space-3);
	max-width: min(100%, 30ch);
}

.form input[type="number"] {
	width: 15ch;
}

.number {
	border-radius: var(--radius-s);
	border: 2px dashed var(--color-border);
	padding: var(--space-2-rel);
}
