.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: var(--radius-m);
	outline: 2px dashed var(--color-blue-800);
	outline-style: dashed;
	background-color: var(--surface-2);
}
