/* wide "demo" section */
.wide {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: var(--space-s);
	background-color: var(--surface-3);
	padding-block: var(--space-m);
	margin-block: var(--space-l);
}

/* common cell styles */
.grid-item {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	border-radius: var(--radius-m);
	outline: 2px dashed var(--color-blue-800);
	outline-style: dashed;
	background-color: var(--surface-2);
}

/* Demo: "Shift Grid to get Masonry" */
.shift-demo > * {
	width: min(calc(100% - var(--space-m)), 85ch);
}

.shift-demo > form label {
	width: fit-content;
}

.shift-demo > ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--space-m);

	list-style: none;
	margin-block: var(--space-m);
	width: min(calc(100% - var(--space-m)), 85ch);
}

.shift-demo ul > li {
	transition: transform 0.15s ease-in-out;
}

/* Demo: "Masonry-like Grid" */
.masonry > * {
	width: min(calc(100% - var(--space-m)), 85ch);
}

.masonry .wrapper {
	max-height: 85vh;
	overflow-y: auto;
	padding: 0 var(--space-s);
}

.masonry ul li {
	grid-row-end: span var(--masonry-item-row);
	grid-column-end: span var(--masonry-item-column);
	height: 100%;
	min-height: var(--masonry-item-min-height);
}

.masonry ul {
	--masonry-item-min-height: 5rem;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--masonry-item-size, 100px), 1fr));
	grid-template-rows: repeat(auto-fit, minmax(var(--masonry-item-min-height), var(--masonry-item-size, 100px)));
	grid-auto-flow: dense;
	place-items: stretch;
	gap: calc(1.5 * var(--space-s));
	width: 100%;
	padding: var(--space-s) 0;
}

.masonry input[type="range"] {
	width: 100%;
	margin-bottom: var(--space-m);
}

/* Demo: "Grid Items Span" */
.grid-span > * {
	width: min(calc(100% - var(--space-m)), 85ch);
}

.grid-span label {
	display: flex;
	flex-flow: column nowrap;
}

.grid-span ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--masonry-scale, 50px), 1fr));
	grid-template-rows: repeat(auto-fit, var(--masonry-scale, 50px));
	grid-auto-flow: dense;
	grid-gap: 1rem;
	margin-block: var(--space-l);
	height: fit-content;
}

.grid-span li {
	min-height: 50px;
}