.wrapper {
	font-variant-numeric: tabular-nums;
}

.form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--space-3);
	max-width: min(100%, 45ch);
}

.form input[type="number"] {
	width: 15ch;
}

.number-wrapper {
	display: flex;
	align-items: center;
	gap: var(--space-3);
	margin-block-end: var(--space-3);
}

.number {
	border-radius: var(--radius-s);
	border: 2px dashed var(--color-border);
	padding: var(--space-2-rel);
}

.ranks-wrapper {
	display: flex;
	justify-content: center;
	overflow-x: auto;
	width: 100%;
	padding-inline: var(--space-3);
}

.ranks {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	gap: var(--space-2);
	height: fit-content;
}

.rank {
	display: flex;
	place-items: center;
	gap: var(--space-2);
	height: 100%;
	font-size: 0.75em;
}

.rank:global(.zero) > * {
	opacity: 0.25;
}

.rank:not(:last-child)::after {
	content: "+";
	display: flex;
	align-items: center;
	font-size: 1.5em;
	opacity: 0.75;
}

.rank span {
	border: 2px solid var(--accent);
	border-radius: var(--radius-s);
	padding: var(--space-1-rel) var(--space-2-rel);
}

.rank .mult {
	border-color: var(--color-border);
}

@media screen and (max-width: 48em) {
	.ranks-wrapper {
		grid-column: 1 / span 3 !important;
	}
}
